/* fonts
font-family: 'Lato', sans-serif;
font-family: 'Lexend', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul,
button {
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FBFBFB;
  color: #6B6B6B;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

h1,
h2,
h3 {
  color: #0E1F47;
  font-family: "Lexend", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 24px;
}

h2 {
  font-weight: 500;
  font-size: 16px;
}

h3 {
  font-weight: 400;
  font-size: 14px;
}

button {
  display: flex;
  align-self: center;
  padding: 16px 30px;
  background-color: #6BAAFF;
  color: #FBFBFB;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 24px;
  transition: background-color 0.8s;
  cursor: pointer;
}
button:hover {
  color: #6BAAFF;
  background: none;
  padding: 14px 28px;
  border: 2px solid #6BAAFF;
  transition: background-color 0.5s;
}
button.icon {
  padding: 0;
  background: none;
}
button.icon:hover {
  border: none;
}
button.light {
  background-color: #FBFBFB;
  color: #1E56A0;
}
button.light:hover {
  background: none;
  color: #FBFBFB;
  padding: 14px 28px;
  border: 2px solid #FBFBFB;
}

.btn {
  display: flex;
  align-self: center;
  padding: 16px 30px;
  background-color: #6BAAFF;
  color: #FBFBFB;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 24px;
  transition: background-color 0.8s;
  cursor: pointer;
}
.btn:hover {
  color: #6BAAFF;
  background: none;
  padding: 14px 28px;
  border: 2px solid #6BAAFF;
  transition: background-color 0.5s;
}
.btn.icon {
  padding: 0;
  background: none;
}
.btn.icon:hover {
  border: none;
}
.btn.light {
  background-color: #FBFBFB;
  color: #1E56A0;
}
.btn.light:hover {
  background: none;
  color: #FBFBFB;
  padding: 14px 28px;
  border: 2px solid #FBFBFB;
}

.logo a {
  position: relative;
  padding: 6px 10px;
  color: #0E1F47;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.logo a::before {
  content: url("../assets/logo_prise--iphone.svg");
  position: absolute;
  right: 12px;
  bottom: -16px;
}
.logo a::after {
  content: ".";
  margin-left: 2px;
  color: #6BAAFF;
  font-size: 32px;
}

.link {
  color: #0E1F47;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.link:hover {
  color: #6BAAFF;
  border-bottom: 2px solid #6BAAFF;
}

.wrapper {
  margin: auto;
  padding: 0 20px;
  max-width: 1220px;
  min-width: 250px;
}

.anchor {
  position: absolute;
  top: -180px;
}

.bold {
  font-weight: bolder;
}

header {
  position: relative;
  position: fixed;
  padding-bottom: 30px;
  width: 100vw;
  background-color: #FBFBFB;
  z-index: 4;
}
header .wrapper {
  position: relative;
  display: flex;
  padding: 20px 20px 0 20px;
  justify-content: space-between;
  align-items: center;
}
header .wrapper .logo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}
header .wrapper .nav-bar {
  display: none;
}
header .wrapper .nav-bar ul {
  display: flex;
  gap: 30px;
}
header .wrapper .nav-bar--mobile {
  position: absolute;
  width: 100vw;
  height: 100vh;
  height: 100px;
  left: 0;
  top: 0;
  overflow: hidden;
}
header .wrapper .nav-bar--mobile #nav-bar--mobile__checkbox {
  display: none;
}
header .wrapper .nav-bar--mobile #nav-bar--mobile__checkbox:checked ~ .nav-bar--mobile__btn .nav-bar--mobile__btn__line:first-child {
  transform: translate(0px, 9px) rotate(45deg);
}
header .wrapper .nav-bar--mobile #nav-bar--mobile__checkbox:checked ~ .nav-bar--mobile__btn .nav-bar--mobile__btn__line:nth-child(2) {
  opacity: 0;
}
header .wrapper .nav-bar--mobile #nav-bar--mobile__checkbox:checked ~ .nav-bar--mobile__btn .nav-bar--mobile__btn__line:last-child {
  transform: translate(0px, -9px) rotate(-45deg);
}
header .wrapper .nav-bar--mobile #nav-bar--mobile__checkbox:checked ~ .nav-bar--mobile__menu {
  left: 20vw;
}
header .wrapper .nav-bar--mobile #nav-bar--mobile__checkbox:checked ~ .nav-bar--mobile__menu li a {
  display: flex;
}
header .wrapper .nav-bar--mobile__btn {
  position: absolute;
  right: 20px;
  top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
  padding: 2px 0;
  cursor: pointer;
  z-index: 5;
}
header .wrapper .nav-bar--mobile__btn:hover .nav-bar--mobile__btn__line {
  background-color: #6BAAFF;
}
header .wrapper .nav-bar--mobile__btn__line {
  display: flex;
  width: 24px;
  height: 2px;
  background-color: #0E1F47;
  border-radius: 4px;
  transition: transform 0.3s;
}
header .wrapper .nav-bar--mobile__menu {
  position: absolute;
  left: 100vw;
  top: 0;
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 150px 60px;
  background-color: #FBFBFB;
  transition: left 0.8s;
}
header .wrapper .nav-bar--mobile__menu li a:hover {
  border-bottom: none;
}
header .wrapper .nav-bar--mobile__menu li a:hover label {
  color: #6BAAFF;
  border-bottom: 2px solid #6BAAFF;
}

.hero-section {
  padding-top: 130px;
}
.hero-section .wrapper {
  display: flex;
  flex-direction: column-reverse;
}
.hero-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 40px;
}
.hero-section__content__text {
  margin-bottom: 40px;
}
.hero-section__content__text h1 {
  text-align: center;
  margin-bottom: 16px;
}
.hero-section__content__text p {
  text-align: center;
}
.hero-section__content__cta {
  position: relative;
}
.hero-section__picture {
  display: flex;
}
.hero-section__picture img {
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 0px 2px #6BAAFF;
  border-radius: 400px 10px 400px 400px;
}

.banner {
  display: flex;
  height: 120px;
  margin-top: 40px;
  background: url("../assets/banner--iPhone.svg") no-repeat center;
}

.step-1 {
  position: relative;
  margin-top: 40px;
}
.step-1 .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.step-1__picture img {
  display: flex;
  width: 170px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.step-1__content h2 {
  margin-bottom: 10px;
}

.step-2 {
  margin-top: 60px;
}
.step-2 h2 {
  text-align: center;
  margin-bottom: 20px;
}
.step-2__cards {
  margin-top: 30px;
}
.step-2__cards__row {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.step-2__cards__row:first-child {
  margin-bottom: 30px;
}
.step-2__cards__row__card {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}
.step-2__cards__row__card__title {
  display: flex;
  margin-bottom: 6px;
}
.step-2__cards__row__card__title::before {
  content: "";
  display: flex;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  background-color: #6BAAFF;
  border-radius: 16px;
}

.citation {
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 4px solid #1E56A0;
  border-radius: 20px;
}
.citation__quotes {
  position: absolute;
  font-family: "Lemonada", cursive;
  font-size: 36px;
  letter-spacing: -2px;
  color: #1E56A0;
  left: -14px;
  top: -40px;
  text-shadow: -4px 0 #FBFBFB, 4px 0 #FBFBFB, 0 -4px #FBFBFB, 0 4px #FBFBFB, -2px 2px #FBFBFB, 2px 2px #FBFBFB, -2px -2px #FBFBFB, 2px -2px #FBFBFB;
}
.citation__quotes::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 6px;
  top: 32px;
  background-color: #1E56A0;
  border-radius: 20px;
}
.citation__quotes::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 30px;
  top: 32px;
  background-color: #1E56A0;
  border-radius: 20px;
}
.citation__picture {
  display: flex;
  justify-content: center;
}
.citation__picture img {
  display: flex;
  width: 140px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #1E56A0;
  border-top: none;
  border-radius: 0 0 20px 20px;
}
.citation__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
  padding: 0 20px;
}
.citation__content__text {
  margin-bottom: 6px;
  color: #1E56A0;
  font-weight: 500;
  font-size: 14px;
}
.citation__content__author {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
}

.offers {
  position: relative;
  margin-top: 80px;
}
.offers .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.offers h2 {
  font-size: 20px;
}
.offers__cards {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.offers__cards__card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}
.offers__cards__card__badge {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 80px;
  height: 74px;
  right: -20px;
  top: -30px;
  border-radius: 40px;
  background-color: #FBFBFB;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}
.offers__cards__card__head {
  justify-content: center;
  display: flex;
  background-color: #1E56A0;
}
.offers__cards__card__head h3 {
  margin: 20px 0;
  color: #FBFBFB;
  font-size: 20px;
  font-weight: 500;
}
.offers__cards__card__pricing {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
  color: #0E1F47;
}
.offers__cards__card__pricing h3 {
  font-size: 24px;
  font-weight: 500;
}
.offers__cards__card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  gap: 10px;
  margin: 0 10px;
  padding: 40px 10px;
  border-top: 1px solid #C2C2C2;
}

.your-project {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 80px;
  padding: 30px 20px;
  background-color: #1E56A0;
  text-align: center;
  font-size: 10px;
  color: #FBFBFB;
}
.your-project h2 {
  color: #FBFBFB;
}

.about {
  position: relative;
}
.about .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
}
.about__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__container__picture {
  width: 100%;
}
.about__container__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about__container__content h3 {
  text-align: center;
}

footer {
  margin-top: 80px;
  background-color: #0E1F47;
  overflow: hidden;
}
footer .footer__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
footer .footer__head .logo {
  position: relative;
  padding: 6px 10px;
  color: #FBFBFB;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
footer .footer__head .logo::before {
  content: url("../assets/logo_prise--iphone--light.svg");
  position: absolute;
  left: -16px;
  bottom: -16px;
}
footer .footer__head .logo::after {
  content: ".";
  position: relative;
  margin-left: 2px;
  color: #6BAAFF;
  font-size: 32px;
  z-index: 5;
}
footer .footer__head__socials {
  display: flex;
  gap: 16px;
}
footer .footer__tail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
  padding: 10px 0;
  color: #FBFBFB;
  font-size: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
footer .footer__tail .link {
  color: #6BAAFF;
  font-size: 12px;
}
footer .footer__tail .link:hover {
  border-bottom: none;
  text-decoration: underline;
}

@media screen and (min-width: 390px) {
  body {
    background-color: rgba(255, 192, 203, 0);
  }
}
@media screen and (min-width: 820px) {
  body {
    background-color: rgba(220, 20, 60, 0);
  }
}
@media screen and (min-width: 1440px) {
  body {
    background-color: rgba(144, 238, 144, 0);
  }
}
@media screen and (min-width: 650px) {
  body {
    font-weight: 400;
    font-size: 12px;
  }
  h1 {
    font-weight: 600;
    font-size: 32px;
  }
  h2 {
    font-weight: 500;
    font-size: 20px;
  }
  header {
    padding: 20px 0;
  }
  header .wrapper {
    padding: 0 60px;
    align-items: baseline;
  }
  header .wrapper .logo {
    width: unset;
  }
  header .wrapper .logo a:before {
    content: url("../assets/logo_prise--iphone.svg");
  }
  header .wrapper .nav-bar {
    display: flex;
  }
  header .wrapper .nav-bar--mobile {
    display: none;
  }
  .hero-section .wrapper {
    padding: 0 0 0 60px;
    flex-direction: row;
    align-items: center;
  }
  .hero-section__content {
    justify-content: start;
    align-items: flex-start;
    min-width: 380px;
  }
  .hero-section__content__text h1 {
    text-align: left;
  }
  .hero-section__content__text p {
    text-align: left;
  }
  .hero-section__content button {
    align-self: unset;
  }
  .hero-section__picture {
    display: flex;
  }
  .banner {
    height: 230px;
    background: url("../assets/banner--iPad.svg") no-repeat center;
  }
  .step-1 .wrapper {
    gap: 40px;
  }
  .step-1__picture {
    display: flex;
  }
  .step-1__picture img {
    display: flex;
    width: 250px;
    height: 100%;
  }
  .step-1__content {
    max-width: 450px;
  }
  .step-2 {
    margin-top: 140px;
  }
  .step-2 h2 {
    margin-bottom: 30px;
  }
  .step-2__cards {
    margin-top: 40px;
  }
  .step-2__cards__row {
    flex-direction: row;
  }
  .step-2__cards__row__card {
    padding: 20px 16px;
  }
  .step-2__cards__row__card__title {
    margin-bottom: 10px;
  }
  .citation {
    flex-direction: row-reverse;
    width: -moz-fit-content;
    width: fit-content;
    margin: 140px auto 0 auto;
  }
  .citation__picture img {
    border: none;
    border-left: 4px solid #1E56A0;
    border-radius: 0;
    border-radius: 0 16px 16px 0;
  }
  .citation__content {
    padding-right: 60px;
    text-align: left;
    justify-content: center;
  }
  .citation__content__text {
    font-size: 16px;
  }
  .offers {
    margin-top: 140px;
  }
  .offers__cards {
    flex-direction: row;
  }
  .your-project p {
    font-size: 12px;
  }
  .about__container {
    flex-direction: row;
    gap: 50px;
  }
  .about__container__picture {
    width: 350px;
  }
  .about__container__content {
    justify-content: center;
  }
  .about__container__content h3 {
    text-align: left;
  }
  footer .footer__head {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  footer .footer__tail {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
}
@media screen and (min-width: 1440px) {
  body {
    font-weight: 400;
    font-size: 16px;
  }
  h1 {
    font-weight: 600;
    font-size: 48px;
  }
  h2 {
    font-weight: 500;
    font-size: 32px;
  }
  .topScreen {
    min-height: 100vh;
  }
  .hero-section .wrapper {
    max-width: 1440px;
    padding: 0 0 0 170px;
  }
  .hero-section__content {
    min-width: 570px;
  }
  .banner {
    margin: -60px auto 0 auto;
    width: 1440px;
    height: 400px;
    background: url("../assets/banner--desktop.svg") no-repeat center;
  }
  .step-1 .wrapper {
    min-height: 300px;
  }
  .citation {
    margin: 200px auto 0 auto;
  }
  .citation__content__text {
    font-size: 24px;
  }
  .citation__content__author {
    font-size: 14px;
  }
  .offers {
    margin-top: 200px;
  }
  .offers .wrapper {
    gap: 80px;
  }
  .offers h2, .offers h3 {
    font-size: 32px;
  }
  .your-project {
    gap: 30px;
    padding: 50px 20px;
  }
  .your-project p {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */